<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="Introduction" class="btn">Introduction</a>
  <a href="Affiliations" class="btn">Affiliations</a>
  <a href="Education" class="btn">Education</a>
  <a href="SelectedPublications" class="btn">Selected Publications</a>
  <a href="HonorsAwards" class="btn">Honors and Awards</a>
  <a href="OtherAcademicProfiles" class="btn">Other Academic Profiles</a>
  <a href="Contact" class="btn">Contact</a>
</section>