<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://raquelrguima.github.io/#introduction" class="btn">Introduction</a>
  <a href="https://raquelrguima.github.io/#affiliations" class="btn">Affiliations</a>
  <a href="https://raquelrguima.github.io/#education" class="btn">Education</a>
  <a href="https://raquelrguima.github.io/#honors-awards" class="btn">Honors and Awards</a>  
  <a href="https://raquelrguima.github.io/#publications" class="btn">Publications</a>  
  <a href="https://raquelrguima.github.io/#other-profiles" class="btn">Other Academic Profiles</a>
  <a href="https://raquelrguima.github.io/#social-network" class="btn">Social Network</a>
  <a href="https://raquelrguima.github.io/#contact" class="btn">Contact</a>
</section>